In [9]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor

In [10]:
file = pd.read_excel("//Users/mybookpro/Journey of pro/ML23/Practices/sales.xlsx")

In [11]:
file

              order_date  total_sale  Status
0    2015-01-01 00:00:00     2727.10  Normal
1    2015-02-01 00:00:00     2731.90  Normal
2    2015-03-01 00:00:00     2662.40  Normal
3    2015-04-01 00:00:00     1738.80   Quiet
4    2015-05-01 00:00:00     1899.95   Quiet
..                   ...         ...     ...
360           27/12/2015     2730.00  Normal
361           28/12/2015     2998.00    Busy
362           29/12/2015     2608.00  Normal
363           30/12/2015     3652.00    Busy
364           31/12/2015     3013.00    Busy

[365 rows x 3 columns]

### converting "oder_date" into datetime

In [12]:
file['order_date'] = pd.to_datetime(file['order_date'])
file['year'] = pd.to_numeric(file['order_date'].dt.strftime('%j'))   # help to convert string year values into numeric, and saparate the year

### Train a Random Forest Regressor to predict total sale accuratly

In [13]:
x = file[['year']].values  # extraxt value and store it into numpy array

In [14]:
y = file[['total_sale']].values

### Creating Model

In [15]:
model = RandomForestRegressor(n_estimators=100, random_state=40)
model.fit(x,y)

/var/folders/j8/hm73bfjd6979vyyz80x2hp2r0000gp/T/ipykernel_2630/2103012419.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x,y)

RandomForestRegressor(random_state=40)

### Function to predict total sale and category for a given date

In [18]:
def predict_sale_and_status(date):
    new_date = pd.to_datetime(date)
    year = pd.to_numeric(new_date.strftime('%j')).reshape(1,-1)
    
    predicted_sales = model.predict(year)[0]

    if predicted_sales <= 1500:
        return predicted_sales, 'Quiet'
    
    elif predicted_sales <=2800:
        return predicted_sales,'Normal'
    
    else:
        return predicted_sales,'Busy'

new_date = '30-07-2015'
predicted_sales, Status = predict_sale_and_status(new_date)
print(f"Total sales on [{new_date}] can be: {predicted_sales:.2f}")
print(f"Status of the shop can be: {Status}")

Total sales on [30-07-2015] can be: 3008.49
Status of the shop can be: Busy